#define LOCATION "lounge"

#define HOSTNAME "ESP-RC-" LOCATION

#define WIFI_SSID "-------"
#define WIFI_PASSWORD "---------"

#define MQTT_HOST "mqtt.youdomain.de"
#define MQTT_PORT 1883
#define MQTT_MAX_CONNECT_RETRY 42

#define OTA_PASSWORD "tollesPasswort!"

#define SENSOR_REFRESH_MS  (5 * 60 * 1000)
#define RCSWITCH_PAUSE_MS 100
#define RCSWITCH_TRANSMISSIONS 15

const char* MQTT_TOPIC_DELIMITER = "/";

const char* MQTT_TOPIC_RCSWITCH = "actors/powersockets/" LOCATION "/#";
const char* MQTT_TOPIC_TEMPERATURE = "sensor/temperature/" LOCATION;
const char* MQTT_TOPIC_HUMIDITY = "sensor/humidity/" LOCATION;
const char* MQTT_TOPIC_STATE = "state/powersockets/" LOCATION;
